{% load static %}

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>


<!-- Para tablas-->
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- DataTables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>

<!-- pdfmake y vfs_fonts.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>

<!-- Botones de exportación (PDF, Excel, CSV, Copiar) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>

<script src="{% static 'js/para_tabla.js' %}"></script>

<!-- Sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>





<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Menu desplegable -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdowns = document.querySelectorAll('.dropdown');

        dropdowns.forEach(function (dropdown) {
            var toggle = dropdown.querySelector('.dropdown-toggle');
            var menu = dropdown.querySelector('.dropdown-menu');

            toggle.addEventListener('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                menu.classList.toggle('show');
            });

            document.addEventListener('click', function (event) {
                if (!dropdown.contains(event.target)) {
                    menu.classList.remove('show');
                }
            });
        });
    });
</script>

<!-- Inicializar tooltips de Bootstrap -->
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>

<!-- Spinner de carga en listas de información -->
<script>
    $(document).ready(function () {
        // Ocultar la información de la lista al principio
        $('#list-content').hide();

        // Mostrar el spinner y ocultarlo después de 2 segundos
        setTimeout(function () {
            $('#spinner').hide(); // Ocultar el spinner
            $('#list-content').fadeIn(); // Mostrar la lista
        }, 1000);
    });
</script>

<!-- Alerta de notificaciones sin leer -->
<script>
    (async function () {
        // Obtener el total de notificaciones desde el contexto de Django
        const currentTotal = {{ total_notificaciones }};
        const previousTotal = parseInt(localStorage.getItem('previousTotal')) || 0;

        // Si el total actual es mayor que el anterior, mostrar la alerta
        if (currentTotal > previousTotal) {
            // Esperar 2 segundos antes de reproducir el audio y mostrar la notificación
            setTimeout(async () => {
                // Reproducir sonido solo si hay nuevas notificaciones sin leer
                const audio = new Audio("{% static 'audio/notification.mp3' %}");
                try {
                    await audio.play(); // Espera a que el audio se reproduzca
                } catch (error) {
                    console.error("Error al reproducir el audio:", error);
                }

                // Mostrar la notificación
                Swal.fire({
                    title: '¡Tienes {{ total_notificaciones }} notificación(es) nueva(s) sin leer!',
                    text: 'Revisa tus notificaciones para más detalles.',
                    icon: 'info',
                    timer: 3000,
                    showConfirmButton: false,
                    toast: true, // Modo toast
                    position: 'top-end',
                    backdrop: false,
                });

                // Actualizar el total anterior en localStorage
                localStorage.setItem('previousTotal', currentTotal);
            }, 3000); // 3000 milisegundos = 3 segundos
        }
        if (previousTotal > currentTotal) {
            // Actualizar el total anterior en localStorage
            localStorage.setItem('previousTotal', currentTotal);
        }
    }) ();
</script>

<!-- Animación de icono de campana de las notificaciones -->
<script>
    // Verificar si hay notificaciones
    const totalNotificaciones = {{ total_notificaciones }};
    const campanita = document.getElementById('campanita');

    if (totalNotificaciones > 0) {
        // Función para activar la animación
        function activarVibracion() {
            campanita.classList.add('ring'); // Aplicar la clase de animación
            setTimeout(() => {
                campanita.classList.remove('ring'); // Detener la animación después de 0.5 segundos
            }, 1000); // Duración de la animación
        }

        // Activar la vibración cada 15 segundos
        setInterval(activarVibracion, 4000); // 15000 ms = 15 segundos

        // Activar la vibración inmediatamente al cargar la página
        activarVibracion();
    }
</script>

<!-- SweetAlert para alertas de success y errors -->
<script>
    {% if messages %}
        {% for m in messages %}
            {% if m.tags == 'success' %}
                Swal.fire({
                    title: "{{m}}",
                    icon: "success",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#4169E1"
                });
            {% elif m.tags == 'error' %}
                Swal.fire({
                    title: "{{m}}",
                    icon: "error",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#4169E1"
                });
            {% endif %}
        {% endfor %}
    {% endif %}
</script>

<!-- Colapsado/expandido para card de busquedas -->
<script>
    const toggleButton = document.getElementById('toggleButton');
    const collapseElement = document.getElementById('filtroCollapse');
    $(document).ready(function () {
        // Evento cuando se expande
        $('#filtroCollapse').on('show.bs.collapse', function () {
            toggleButton.innerHTML = '<i class="fas fa-minus"></i>';
        });
        // Evento cuando se colapsa
        $('#filtroCollapse').on('hide.bs.collapse', function () {
            toggleButton.innerHTML = '<i class="fas fa-plus"></i>';
        });
        // Función para quitar el card al hacer clic en "X"
        const closeFilterButton = document.getElementById("closeFilterButton");
        closeFilterButton.addEventListener("click", function (event) {
            event.preventDefault();
            $(".filtercard").slideUp(500, function () {
                $(this).remove();
            });
        });
    });
</script>

<!-- Select2 para campos de select -->
<script>
    $(document).ready(function () {
        $('.custom-select').select2({
            allowClear: false,
            width: '100%',
            language: {
                noResults: function () {
                    return 'No se encontraron resultados';
                },
            }
        });
    });
</script>

<!-- Abrir Modal detalle notificacion -->
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_notificacion(url){
        $('#notificationModal').load(url, function(){
            // Inicializa el modal
            $(this).modal('show');
            
            // Fix adicional para el botón de cerrar
            $(this).find('.close').click(function() {
                $('#notificationModal').modal('hide');
            });
        });
    }
</script>