{% extends "inventario_principal/base.html" %}

{% block titulo %}Listado de Ventas{% endblock titulo %}

{% block contenido %}
    <!-- Page Heading -->
  
    <!-- Card para Filtrar -->
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center card-csslist">
            <h6 class="m-0 font-weight-bold text-primary h5"><i class="fas fa-list mr-2"></i>Lista de Ventas</h6>
        </div>
        <div class="card-body">
            <!-- Spinner de Bootstrap (inicialmente visible) -->
            <div id="spinner" style="bottom: 10px; left: 10px;">
                <button class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Cargando...
                </button>
            </div>

            <!-- Contenido de la lista (inicialmente oculto) -->
            <div id="list-content" style="display: none;">
                <div class="form-row mb-3">
                    <div class="ml-auto">
                        <!-- Botón "Nuevo" en el extremo derecho -->
                        {% if perms.ventas.crear_ventas %}
                            <a href="{% url 'ventas:registrar_ventas' %}" class="btn btn-sm btn-primary rounded-pill">
                                <i class="fas fa-plus-circle"></i> Registrar Venta
                            </a>
                        {% endif %}
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: 13px;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Fecha Emisión</th>
                                <th>Cliente</th>
                                <th>Emitido por</th>
                                <th>Subtotal</th>
                                <th>Valor IVA</th>
                                <th>Total</th>
                              
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Puedes agregar o quitar filas según tus necesidades -->
                            {% if ventas %}
                                {% for ven in ventas %}
                                    <tr>
                                        <td>{{ ven.idventa }}</td>
                                        <td>{{ ven.fecha_venta | date:"d/m/Y" }}</td>
                                        <td>{{ven.idcliente}}</td>
                                        <td>{{ven.user}}</td>
                                        <td class="text-center">$ {{ven.subtotal}}</td>
                                        <td class="text-center">$ {{ven.valoriva}}</td>
                                        <td class="text-center">$ {{ven.total}}</td>
                               
                                      
                                        <td class="text-center">
                                            <div class="d-flex">
                                                {% if perms.ventas.ver_ventas %}
                                                <button type="button" class="btn btn-info btn-sm mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver" onclick="abrir_modal_venta('{% url 'ventas:detalle_ventas' ven.idventa %}')">
                                                    <i class="fas fa-eye fa-sm"></i>
                                                </button>
                                                <a class="btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Generar Factura" 
                                                    onclick="event.preventDefault(); abrirFactura('{% url 'ventas:vista_factura' ven.idventa %}')">
                                                    <i class="fas fa-print fa-sm"></i>
                                                </a>
                                                {% endif %}
                                            </div>
                                        </td>                                                                 
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <!-- ... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal detalle venta -->
    <div class="modal fade" id="venta" role="dialog">
    </div>
{% endblock contenido %}

{% block script %}
    <!-- Abrir Modal detalle venta -->
    <script type="text/javascript">
        var $ =jQuery.noConflict();
        function abrir_modal_venta(url){
            $('#venta').load(url, function(){
                $(this).modal('show');
            })
        }
    </script>

    <!-- Abrir factura -->
    <script>
        function abrirFactura(url) {
            // Abre la URL en una ventana emergente con un tamaño personalizado
            window.open(
                url, 
                'Factura', 
                'width=600,height=800,scrollbars=yes,resizable=yes'
            );
        }
    </script>
{% endblock script %}