{% extends "inventario_principal/base.html" %}

{% block titulo %}Perfil de Usuario{% endblock titulo %}

{% block contenido %}
    <!-- Page Heading -->
    <div class="mb-4">
        <h1 class="h3 mb-0 text-gray-800">Perfil del Usuario</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: transparent; padding: 0; margin: 0;">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:inicio' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Perfil Usuario</li>
            </ol>
        </nav>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center card-csslist">
            <h6 class="m-0 font-weight-bold text-primary h5"><i class="fas fa-user-cog mr-2"></i>Configuración de la Cuenta</h6>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Card para el perfil -->
                    <div class="card mb-4 border-0 shadow-sm">
                        <div class="card-body">
                            <div class="card-body text-center">
                                <!-- Icono de usuario -->
                                <i class="fas fa-user-circle fa-10x text-primary mb-3"></i>
        
                                <!-- Nombre del administrador -->
                                <h5 class="font-weight-bold text-primary mb-2">{{request.user.username}}</h5>
        
                                <!-- Descripción -->
                                <p class="font-weight-bold text-muted mb-3">{{ request.user.first_name }} {{ request.user.last_name }}</p>
        
                                <!-- Botones descriptivos -->
                                <button class="btn btn-sm btn-info mb-2">
                                    <i class="fas fa-cog"></i> Configurar
                                </button>
                                
                                <a href="{% url 'usuarios:cuenta_perfil' %}">
                                    <button class="btn btn-sm btn-secondary mb-2">
                                        <i class="fas fa-user-edit"></i> Editar Perfil
                                    </button>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Card para el formulario de cambio de contraseña -->
                    <div class="card mb-4 border-0 shadow-sm">
                        <div class="card-body">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#profile-overview">
                                        <i class="fas fa-info-circle mr-2"></i>Descripción General
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile-edit">
                                        <i class="fas fa-user-edit mr-2"></i>Editar Perfil
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile-change-password">
                                        <i class="fas fa-key mr-2"></i>Cambiar Contraseña
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content pt-2">
                                <div class="tab-pane container active pt-4" id="profile-overview">
                                    <h5 class="card-title font-weight-bold text-secondary mb-4">Detalles del Perfil</h5>

                                    <!-- Nombre Completo -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-user-circle fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Nombre Completo:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Empresa -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-building fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Empresa:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    MULTICOMERCIO
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Rol -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-user-tag fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Rol:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    {% if request.user.is_superuser %}
                                                        Administrador Principal
                                                    {% else %}
                                                        {% for group in request.user.groups.all %}
                                                            {{ group.name }}
                                                            {% if not forloop.last %}, {% endif %}
                                                        {% empty %}
                                                            Sin rol asignado
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- País -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-globe fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">País:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    Ecuador
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Dirección -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-map-marker-alt fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Dirección:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{ request.user.direccion|default_if_none:' - ' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Teléfono -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-phone fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Teléfono:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{ request.user.telefono|default_if_none:' - ' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Celular -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-mobile-alt fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Celular:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{ request.user.celular|default_if_none:' - ' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Email -->
                                    <div class="card mb-3 border-0 shadow-sm">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-lg-3 col-md-4">
                                                    <i class="fas fa-envelope fa-lg text-primary mr-2"></i>
                                                    <span class="font-weight-bold">Email:</span>
                                                </div>
                                                <div class="col-lg-9 col-md-8">
                                                    {{ request.user.email }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane container pt-2" id="profile-edit">
                                    <!-- Profile Edit Form -->
                                    {% load crispy_forms_tags %}
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        {% comment %} <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="assets/img/profile-img.jpg" alt="Profile">
                                            <div class="pt-2">
                                            <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </div>
                                        </div> {% endcomment %}
                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <div class="input-with-iconfas">
                                                    <i class="fas fa-user input-iconfas"></i>
                                                    {{ user_form.username | as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-7">
                                                <div class="input-with-iconfas">
                                                    <i class="fas fa-envelope input-iconfas"></i>
                                                    {{ user_form.email | as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <div class="input-with-iconfas">
                                                    <i class="fas fa-signature input-iconfas"></i>
                                                    {{ user_form.first_name | as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-with-iconfas">
                                                    <i class="fas fa-signature input-iconfas"></i>
                                                    {{ user_form.last_name | as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <div class="input-with-iconfas">
                                                    <i class="fas fa-phone input-iconfas"></i>
                                                    {{ user_form.telefono | as_crispy_field }}
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-with-iconfas">
                                                    <i class="fas fa-mobile-alt input-iconfas"></i>
                                                    {{ user_form.celular | as_crispy_field }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-with-iconfas">
                                                <i class="fas fa-map-marker-alt input-iconfas"></i>
                                                {{ user_form.direccion | as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" name="update_info" class="btn btn-sm btn-primary">
                                                <i class="fas fa-save"></i> Guardar Información
                                            </button>
                                            <button type="reset" class="btn btn-sm btn-warning">
                                                <i class="fas fa-eraser"></i> Deshacer
                                            </button>
                                        </div>
                                    </form><!-- End Profile Edit Form -->
                                </div>

                                <div class="tab-pane container pt-2" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-group col-md-12">
                                            <div class="input-with-iconfas">
                                                <i class="fas fa-lock input-iconfas"></i>
                                                {{ password_form.old_password | as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="input-with-iconfas">
                                                <i class="fas fa-lock input-iconfas"></i>
                                                {{ password_form.new_password1 | as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="input-with-iconfas">
                                                <i class="fas fa-lock input-iconfas"></i>
                                                {{ password_form.new_password2 | as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" name="change_password" class="btn btn-sm btn-primary">
                                                <i class="fas fa-save"></i> Cambiar Contraseña
                                            </button>  
                                        </div>
                                    </form><!-- End Change Password Form -->
                                </div>
                            </div><!-- End Bordered Tabs -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

